:root {
  --main-color: #212121;
  --second-color: #2196f3;
  --background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --white-color: #ffffff;
  --light-grey: #757575;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.section {
  display: block;
}

p,
h1,
h2,
h3 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-color);
  background-color: var(--white-color);
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.unvisible-title {
  display: none;
}

.header {
  background-color: var(--white-color);
  border-bottom: 1px solid #ececec;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
}
.main-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 93px;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-items {
  display: flex;
  justify-content: center;
}

.header-nav-items .item {
  margin-right: 50px;
}

.header-nav-items .item:last-child {
  margin-right: 0px;
}

.header-nav-items .link {
  display: block;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts .item:last-child {
  margin-left: 50px;
}
.logo {
  color: var(--second-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.9;
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
}

.studio-logo {
  color: var(--main-color);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: var(--main-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--second-color);
}
.active {
  color: var(--second-color);
}

.phone-link {
  color: var(--light-grey);
}

.mail-link {
  color: var(--light-grey);
}

.hero {
  background-color: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  font-style: normal;
  line-height: 1.4;
  color: var(--white-color);
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  width: 696px;
}

.hero-button {
  display: inline-block;
  color: var(--white-color);
  background-color: var(--second-color);
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  min-width: 216px;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 32px;
  border: 0 solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
}

.benfits-section {
  padding-top: 94px;
}

.benefits-list {
  display: flex;
  gap: 30px;
}

.technology-list {
  display: flex;
  gap: 30px;
}

.filter-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-color);
  background-color: var(--second-background-color);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--second-color);
}
.team-title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--main-color);
}
.team-list {
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  margin: 0;
}

.team-list-list {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: var(--main-color);
  margin-bottom: 10px;
}

.team-person {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.team-profession {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--light-grey);
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-color);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.subtitle-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-color);
  margin-bottom: 4px;
}

.subtitle-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--light-grey);
}

.what-we-do {
  padding-bottom: 94px;
  padding-top: 94px;
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--main-color);
  margin-bottom: 50px;
}

.our-team {
  background-color: var(--second-background-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer {
  background-color: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  padding-top: 0px;
  padding-bottom: 0px;
}

.studio-logo-footer {
  color: var(--white-color);
  padding-top: 0px;
  padding-bottom: 0px;
}

.footer-adress {
  font-style: normal;
  margin-top: 20px;
}

.footer-adress-list {
  padding: 0;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-link-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
  text-decoration: none;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-link-color);
  text-decoration: none;
}
.footer-link-adress:hover,
.footer-link-adress:focus {
  color: var(--second-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--second-color);
}
.filter {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list-item:not(:last-child) {
  padding-right: 8px;
}

.filter-button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
  border: 1px;
  background-color: var(--second-background-color);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0px;
}

.projects-list {
  width: 370px;
}

.projects-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
