:root {
  --main-color: #212121;
  --second-color: #2196f3;
  --background-color: #2f303a;
  --second-background-color: #f5f4fa;
  --white-color: #ffffff;
  --light-grey: #757575;
  --footer-link-color: rgba(255, 255, 255, 0.6);
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-color);
  background-color: var(--white-color);
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

.logo {
  color: var(--second-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 0.9;
  text-decoration: none;
}

.studio-logo {
  color: var(--main-color);
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1;
  color: var(--main-color);
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: var(--second-color);
}
.active {
  color: var(--second-color);
}

.phone-link {
  color: var(--light-grey);
}

.mail-link {
  color: var(--light-grey);
}

.hero {
  background-color: var(--background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  color: var(--white-color);
  text-align: center;
  text-transform: uppercase;
}

.hero-button {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  background-color: var(--second-color);
  color: var(--white-color);
}

.filter-button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--main-color);
  background-color: var(--second-background-color);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-color);
  background-color: var(--second-color);
}

.team-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  color: var(--main-color);
}

.team-profession {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--light-grey);
}

.subtitle {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-color);
  text-transform: uppercase;
}

.subtitle-projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  color: var(--main-color);
}

.subtitle-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--light-grey);
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--main-color);
}

.our-team {
  background-color: var(--second-background-color);
}

.footer {
  background-color: var(--background-color);
}

.studio-logo-footer {
  color: var(--white-color);
}

.footer-adress {
  font-style: normal;
}

.footer-link-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
  text-decoration: none;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--footer-link-color);
  text-decoration: none;
}
.footer-link-adress:hover,
.footer-link-adress:focus {
  color: var(--second-color);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--second-color);
}
